{% extends 'base.html.twig' %} 
{% block title %}Recipe | Accueil{% endblock %} 
{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur Recipe</h1>
            <p class="lead">Bienvenue sur ce site qui va vous permettre de trouver toutes les recettes de cuisine.
            </p>
            <hr class="my-4">
            <p>Pour mettre une recette en ligne inscrivez-vous ici.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">S'inscrire</a>
            </p>
    </div>
</div>

{% endblock %}