{% extends 'base.html.twig' %} 

{% block title %}Ingrédient edition | Recipes{% endblock %} 

{% block body %}

    <h1 class="h3 mt-5">Edition un ingrédient</h1>

    {% include "partials/ingredient.form.html.twig" %} 
    
{% endblock %}