{% extends 'base.html.twig' %} 

{% block title %}Ingrédient new | Recipes{% endblock %} 

{% block body %}

    <h1 class="h3 mt-5">Ajouter un ingrédient</h1>

    {% include "partials/ingredient.form.html.twig" %}

{% endblock %}

