{% extends 'base.html.twig' %} {% block title %}Modifier une recette | Recipe{% endblock %} {% block body %}

<h1 class="h4 mt-4">Modifier une recette</h1>

{{ form_start(form) }}
{{ form_row(form) }}

{{ form_end(form) }}

{% endblock %}