{% extends 'base.html.twig' %} 

{% block title %}Ajouter une recette | Recipe{% endblock %} 

{% block body %}

    <h1 class="h4 mt-4">Ajouter une recette</h1>

    {{ form_start(form) }} 
    {{ form_widget(form) }} 
    {{ form_end(form) }} 

{% endblock %}